.auction {
  position: absolute;
  left: calc(( 100% - 400px  ) / 2);
  top: 50%;
  transform: translateY(-60%);
  z-index: 100;
  transition: all 0.52;
  .auction-inner{
    padding: 30px 20px;
    position: relative;
    width: 500px;
    border-radius: 3px;
    background-color: #F7F5F0;
    -moz-box-shadow:0px 0px 20px rgba(#000000, 0.1);
    -webkit-box-shadow:0px 0px 20px rgba(#000000, 0.1);
    box-shadow:0px 0px 20px rgba(#000000, 0.1);
    .thumbnail-group{
      grid-gap: 5px 0;
      padding-bottom: 10px;
      display: grid;
      border-bottom: 1px solid #e8e8e8;
      justify-items: center;
      align-items: center;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
      .thumbnail {
        border: 2px solid #e4e0d8;
      }
    }
  }



}

.option-wrapper{
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
  margin-top: 10px;
}

.record{
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  width: 100%;
}
.row {
  display: grid;
  padding-top: 5px;
  justify-items: center;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  .bid-result {
    font-size: 11px;
    display: flex;
    > div {
      &:nth-child(1){
        margin-right: 5px;
      }
    }
  }
}

.tricks {
  background-color: #FCFBF8;
  border: 1px solid #62626226;
  border-radius: 50px;
  display:grid;
  grid-template: 1fr / repeat(7, 1fr);
  justify-items: center;
  padding: 0px 20px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  > button {
    background-color: transparent;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    font-size: 16px;
    overflow: hidden;
    border: none;
  }
  > button.current {
    color: #fff;
    background-color: #4A90E2;
  }
}

.other-btns {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-content: left;
  margin: 0 0 10px;
  > button {
    width: 80%;
    padding: 5px 13px;
    border: none;
    color: #fff;
    font-size: 13px;
    border-radius: 38px;
  }
  .pass {
    background-color: #4A90E2;
  }
  .d-btn{
    background-color: #FF525D;
    margin-left: 5px;
  }
}

.auction-inner{
  .trumps{
    padding-left: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    > div {
      padding-top: 5px;
      cursor: pointer;
      width: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
      > div {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
  .thumbnail {
    margin: 0 auto;

  }
  .current {
    .thumbnail{
      border: 3px solid #fff;
    }
  }

  .default-thumbnail-inner{
    // border: 3px solid #fff;
    // background-color: #FF5656;
    // padding: 10px;
  }
}


.auction-result{
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 99;

  .auction-result-inner{
    padding: 20px;
    position: relative;
    min-width: 160px;
    border-radius: 3px;
    background-color: #F7F5F0;
    -moz-box-shadow:0px 0px 20px rgba(#000000, 0.1);
    -webkit-box-shadow:0px 0px 20px rgba(#000000, 0.1);
    box-shadow:0px 0px 20px rgba(#000000, 0.1);
    .thumbnail-group{
      padding-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
      grid-gap: 5px 0;
      display: grid;
      justify-items: center;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
      .thumbnail{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      overflow: hidden;}
      span{
        color: #fff;
        font-size: 12px;
      }
    }
  }
}
.notes{
  padding: 20px 0;
  text-align: center;
}


.default-thumbnail {
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    margin-top: 5px;
    font-size: 14px;
    display:block;
    text-align: center;
  }
}

// width: 50px;
// height: 50px;
// overflow: hidden;
// border: 3px solid #FF5656;
// overflow:hidden;
// height: 100%;
// border-radius: 100%;
.auction-inner{
  .current {
    .default-thumbnail-inner{
    }
    .default-thumbnail-inner-outline-wrapper{

      border-radius: 100%;
      .default-thumbnail-inner-outline{
        border: 4px solid #FF5656;
        border-radius: 100%;
      }
    }
  }


  .thumbnail-group .thumbnail:nth-child(1){
    transform: translateY(0);
  }
}



@media screen and (max-width: 1050px) {
  .auction-result{
    .auction-result-inner{
      padding: 12px 10px;
    }
  }
}

@keyframes breath {
  0%    {
    background-color: #000;
  }
  60%   {
    background-color: #FF525D;
    opacity: 1;
  }
  100%  {
    background-color: #000;
  }
}
