
.dots-holder{
  padding: 10px 0;
  .dots-holder-inner{
    justify-content: center;
    align-content: center;
    display:flex;
  }
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;

  .current{
    background-color: #5C5E70;
    transition: all 0.5s;
  }
}

.dot{
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #D8D8D8;
  transition: all 0.5s;
  cursor: pointer;
  &:hover{
    background-color: #5C5E70;
    transition: all 0.5s;
  }
  &:last-child{
    margin-right: 0px;
  }
}

