$tableBg: #1ABEB9;
$headerBg: #4844A3;
$textColor: #fff;

header {
  background-color: $headerBg;
  padding: 10px 0px 10px 30px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $textColor;

  h1{
    font-size: 20px;
    font-weight: 100;
    margin-left: 20px;
  }
  > div, > div > a {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  > div:nth-child(2){
    > img {
      margin-right: 16px;
      margin-top: 4px;
    }
  }
  a {
    color: $textColor;
  }
  .register-btn-groups{
    display: flex;
    width: 150px;
    align-items: center;
    a {
      display: block;
      border-radius: 3px;
      background-color: #5955AD;
      padding: 10px 10px;
      font-size: 0.9rem;
      color: #fff;
      transition: 0.3s all;
      &:last-child{
        margin-left: 10px;
      }
      &:hover{
        transition: 0.3s all;
        background-color: lighten(#5955AD, 10%);
      }
    }

  }
}
header.table-header {
  background-color: $tableBg;
}

