
.player-ready-list{

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 500;
  width: 40vw;
  transform: translate(-50%, -50%);

  .player-ready-list-inner{
    padding: 30px;
    align-items: center;
    border-radius: 3px;
    background-color: #F4F4EB;
    max-width: 500px;
    min-width: 200px;
    grid-gap: 20px 0;
    width: 100%;
    display: grid;
    grid-template: 30px 1fr 40px 10px 15px/ 1fr;

    .row {
      padding-top: 20px 0;
    }
    .row .btn {
      padding: 5px 20px;
      width: 100%;

    }
    .progress-panel{
      display: flex;
      justify-content: center;
    }
    h3{
      display: flex;
      justify-content: center;
      span{
        display:block;
        padding: 5px 10px;
        color: #888;
        text-align: center;
        border-radius: 5px;
        font-weight: 800;
        // background-color: #4BC999;  
      }
    }
  }
  .waiting-info{
    text-align: center;
    font-size: 14px;

  }
  .btn-wrapper{
    display: flex;
    justify-content:center;
    .btn {
      width: 120px;
    }
  }
  .notes{
    text-align: center;
  }
  .player-ready-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    > span {
      display: block;
      max-width: 60px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}


