.record-list{
  padding: 10px 30px;
  .record-header{
    display: grid;
    width: 100%;
    justify-items: center;
    background: transparent;
    grid-template: 1fr / 1fr 2fr 2fr 2fr ;
    padding: 0 20px;
    transform: translateY(36%);
    > div{
      &:nth-child(1){
        width: 1em;
      }
      &:nth-child(2){
        width: 50px;
      }
    }
  }
  .current{
    color: #fff;
    background-color: #5C5E70;
  }
}

.record-empty{
  padding: 30px;
  text-align: center;
}
