html {
  box-sizing: border-box;
  font-size: 16px;
  font-family:  "PingFang TC","微軟正黑體", "Microsoft JhengHei", "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, button{
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

a:active, a:focus, button:active, button:focus, a:hover {
  outline: 0;
  border: none;
  text-decoration: none;
  -moz-outline-style: none;
}

button {
  text-decoration:none;
  cursor: pointer;
}
