.rewind{
  position: relative;
  width: 100%;
  padding: 0 30px;
  min-height: 300px;
  height: calc(100vh - 60px - 50vh);

  .hand {
    display: flex;
  }
  .card-value{
    margin-left: 5px;
    display: flex;
    > div {
      margin-right: 1px;
    }
  }
  .hand-wrapper{
    display: flex;
    flex-direction: column;
  }
  .rewind-player{
    position: absolute;
    min-width: 130px;
    max-width: 150px;
    width: 100%;
    display: flex;
    background-color: #FCFBF8;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    padding: 10px;
    align-items: center;
    > div {
      display: flex;
      justify-content: center;
      align-content: center;
      &:first-child{
        min-width: 30px;
        width: 30%;
      }
      &:last-child{
        min-width: 50px;
        width: 70%;
      }
    }
  }
  .south {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  .north {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  .east{
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }
  .west{
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }

  .rewind-auction, .rewind-result{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 100px;
    border: 1px solid #D3D3D3;
    padding: 10px;
    border-radius: 3px;
    h3{
      font-size: 14px;
      text-align: center;
    }
    > div{
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .rewind-auction{
    right: 30px;
    top: 0;
  }
  .rewind-result{
    bottom: 0;
    left: 30px;
    span{
      font-size: 12px;
    }
    > div {
      > div{
        width: 50%;
      }
      &:nth-child(3){
        transform: translateX(16%);
      }
      &:nth-child(2){
        transform: translateX(16%);
      }
    }
  }
}




@media screen and (max-width: 1200px) {
  .rewind{
    .rewind-player{
      max-width: 100px;
    }
  }
}
