.table-list{
  background-color: #fff;
  width: 100%;
  padding: 36px 30px 50px;
  margin-bottom: 40px;
  min-height: 40vh;
  margin-top: -10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  h4{
    line-height:  1.2;
    font-size: 30px;
    color: #333;
    text-align: center;
  }
}


.btn-group{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  button{

  }
}

.btn-style-border{
  border: 1px solid #777777;
  padding: 3px 20px;
  background-color: transparent;
  color: #666;
  font-size: 14px;
  transition: all 0.5s ;
  border-radius: 30px;
  &:hover{
    border: 1px solid #777;
    transition: all 0.5s ;
    background-color: #777;
    color: #fff;
  }
}

.btn-style {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #00B5AA;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 16px;
}




.table-list-header, .playing-table, .table-list-item {
  display: grid;
  grid-template: 1fr / 2fr 4fr 4fr 4fr;
  justify-items: center;
  align-items: center;
  margin: 5px 0;
  padding: 15px 0;
  .btn-style-border{
    width: 150px;
  }
  .empty-seats{
    justify-self: center;
  }
}


.playing-table-header{
  display: grid;
  grid-template: 1fr / 2fr 2fr 2fr 2fr 2fr 70px;
  justify-items: center;
  align-items: center;
  margin: 5px 0;
  padding: 15px 0;
}
.table-list-item, .playing-table{
  background-color: transparent;
  transition: 0.5s all;
  &:hover{
    background-color: #F5F5F5;
    transition: 0.5s all;
  }
}



.table-list-item{
  > div{
    &:nth-child(4){
      display: flex;
      text-align: center;
      min-width: 130px;
      a {
        max-width: 150px;
        min-width: 100px;
        width: 100%;
      }
    }
  }
}


.table-list-header {
  padding: 30px 0 16px;
  border-bottom: 1px solid #ddd;
}

.playing-table{
  font-size: 14px;
  display: grid;
  grid-template: 1fr / 2fr 2fr 2fr 2fr 2fr 70px;

  .info-warning{
    color: orange;
  }
  .table-list-item {
    padding: 15px 0 15px;
    transition: all 0.5s;
    background-color: transparent;
    &:hover{
      transition: all 0.5s;
      background-color: #F5F5F5;
    }
    > .btn-style-border{
      transition: all 0.5s;
      border: 1px solid #00B5AA;
      color:#00B5AA;
      background-color: transparent;
      &:hover{
        transition: all 0.5s;
        background-color: #00B5AA;
        color:#fff;
        border: 1px solid #00B5AA;
      }
    }
  }

  .table-list-item-group{
    display: grid;
  }
}


.open-table-section{
  min-width: 120px;
}

.room-number{
  span{
    display:block;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    background-color: #4BC999;  
  }
}
