.table {
  display: flex;
  width: 100%;
  flex-direction:row ;
  .game{
    width: 70%;
    min-width: 600px;
  }

  .sidebar {
    min-width: 200px;
    width: 34%;
  }
}

@media screen and (max-width: 1200px) {
  .table{
    .sidebar{
      width: 40%;
    }
  }

}
