$thumbnailBg: #eae7e0;

.thumbnail, .waiting-thumbnail{
  color: #fff;
  background-color: $thumbnailBg;
  overflow: hidden;
  display:flex;
  justify-content: center;
  position: relative;
  align-items: center;
  .disabled{
    filter: grayscale(100%);
  }
}   
.thumbnail-with-tag {
  position: relative;
  .tag{
    z-index: 50;
    background-color: #4a90e2;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 23%;
    transform:translateX(50%) ;
    padding: 2px;
    display: block;
    padding: 2px;
    height: 1em;
    width: 1em;
    border: 3px solid #fff;
    border-radius: 100%;
  }
}

.thumbnail-inner{
  padding-top: 10px;
}

.thumbnail-outline{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.current{
  .thumbnail-outline{
    transform: translate(3px, -6px);
  }
}


.thumbnail-group{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  .thumbnail {
    &:nth-child(2){
      transform: translateX(-10%);
    }
  }
}


