$thumbnailBg: #eae7e0;

.thumbnail, .waiting-thumbnail{
  color: #fff;
  background-color: $thumbnailBg;
  padding-top: 10px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
  .disabled{
    filter: grayscale(100%);
  }
}   


.thumbnail-group{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  .thumbnail {
    border: 1px solid #fff;
    &:nth-child(1){
      transform: translateX(20%);
    }
    &:nth-child(2){
      transform: translateX(-20%);
    }
  }
}


