$thumbnailBg: #D2ADB0;

.thumbnail{
  color: #fff;
  background-color: $thumbnailBg;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
}   

.thumbnail-group{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  .thumbnail {
    border: 1px solid #fff;
    &:nth-child(1){
      transform: translateX(20%);
    }
    &:nth-child(2){
      transform: translateX(-20%);
    }
  }
}

