.right-bottom-pos{
  bottom: 30px;
  right: 30px;
}

.trick-score{
  z-index: 500;
  position: absolute;
  overflow:hidden;
  .trick-score-inner{
    border-radius: 3px;
    background-color: #F4F4EB;
    display:flex;
    padding-top: 10px;
    width: 260px;
  }

  .group-wrapper{
    display: flex;
    width: 100%;
  }
  .thumbnail-group{
    min-width: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  .thumbnail {
    span{
      color: #fff;
      font-size: 16px;
    }
  }
  .group {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
  }
  .score{
    padding: 10px 0;
    font-size: 20px;
    font-weight: 800;
    color: #515151;
  }
}

.game-over-board{
  // position: relative;
  .game-over-board-inner{
    padding-bottom: 30px;
  }
  .group{
    padding-bottom: 0;
  }
  .trick-score{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    .trick-score-inner{
      min-width: 300px;
      max-width: 500px;
      flex-direction: column;
      width: 100%; 
    }
    .group-wrapper{
      display: flex;
    }
    .result{
      text-align: center;
      padding: 0px 0 10px;
      font-size: 14px;
      font-weight: 800;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .words{
        width: 100%;
      }
    }
  }
  .btn{
    width: 100%;
    max-width: 150px;
    padding: 7px 5px;
  }
}


.btn-wrapper{
  display: flex;
  justify-content: center;
}


.win{
  .trick-score-inner{
      padding: 160px 30px 30px;
    background:#ecebe3 no-repeat url("../images/win.svg") center 17%;
  }
}

.lose{
    .trick-score-inner{
      padding-top: 30px;
      padding-bottom: 30px;
    }
}
