


.right-bottom-pos{
  bottom: 30px;
  right: 30px;
}

.trick-score{
  z-index: 500;
  position: absolute;
  overflow:hidden;
  .trick-score-inner{
    border-radius: 3px;
    background-color: #F4F4EB;
    display:flex;
    padding-top: 10px;
    width: 260px;
  }

  .group-wrapper{
    display: flex;
    width: 100%;
  }
  .thumbnail-group{
    min-width: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  .thumbnail {
    &:nth-child(1){
      margin-right: 0px;
    }
    &:nth-child(2){
      margin-left: -10px;
    }
    background-color: #D2ADB0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    span{
      color: #fff;
      font-size: 16px;
    }
  }
  .group {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
  }
  .score{
    padding: 10px 0;
    font-size: 20px;
    font-weight: 800;
    color: #515151;
  }
}

.game-over-board{
  .trick-score{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;

    .trick-score-inner{
      padding: 30px;
      min-width: 300px;
      max-width: 500px;
      flex-direction: column;
      height: 240px;
      width: 100%; 
    }
    .group-wrapper{
      display: flex;
    }
    .result{
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .words{
        width: 100%;
        padding: 10px 0;
      }
    }
  }
  .btn{
    width: 100%;
    max-width: 150px;
    padding: 7px 5px;
  }
}


.btn-wrapper{
  display: flex;
  justify-content: center;
}
